<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>体验</title>
    <script src="js/vue.js"></script>
    <style>
        .box{
            width: 300px;
            height: 300px;
            background: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>

        <ul>
            <li v-for="item in  users">{{item}}</li>
        </ul>


        <div class="box" v-if="show"></div>

        <button v-on:click="show = !show ">切换显示状态</button>
        <!-- <input type="text" v-model="title"> -->
    </div>
    <script>
        const vm = new Vue({
            el: '#app', // 挂载实例
            data: { // 实例的数据
                title:'这是一个标题',
                show: true,
                users: ['张三', '李四', '老王', '呵呵']
            }
        })
    
    </script>
</body>
</html>