<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="js/vue.js"></script>
    <script>
        // 局部组件 就是一个对象 相当于component 里的第二个参数
        const Card = {
            props: {
                fontColor: String
            },
            template: `
            <Icon name="ok" />
            `
        }
    </script>
    <script src="component/icon.js"></script>
    <script src="component/button.js"></script>
    <script src="component/input.js"></script>
</head>
<body>
    <div id="app">
       
    </div>
    <script>
        new Vue({
            el:'#app',
            data: {
                color:'red',
                value: '父实例传递的参数'
            },
            template:`
                <div>
                    {{value}}
                    <br />
                    <br />
                    <Input v-model="value" />
                    <br />
                    <br />
                     <textarea v-model="value"></textarea>
                    <Input :value="value" @input="input" />
                </div>
            `,
            components: { // components选项用于添加 局部组件
                Card // card 在这里注册的， 当前这个Card实例它只属于 Vue 实例
            },
            methods:{
                click(color){
                    this.color = color
                    // console.log('Vue实例的接收参数', num)
                    // console.log('点击事件触发了')
                },
                input(n){
                    this.value = n
                }
            }
        })
    </script>
</body>
</html>